# EPL 2022-2023 Standings

In [1]:
import pandas as pd
data = pd.read_csv('2023_PL_standings.csv')
data.head()

,rank,points,goalsDiff,team_id,team.name,matches_played,wins,draws,losses,goals_for,...,home_draw,home_lose,home_goals_for,home_goals_against,away,away_wins,away_draw,away_lose,away_goals_for,away_goals_against
0,1,89,61,50,Manchester City,38,28,5,5,94,...,1,1,60,17,19,11,4,4,34,16
1,2,84,45,42,Arsenal,38,26,6,6,88,...,3,2,53,25,19,12,3,4,35,18
2,3,75,15,33,Manchester United,38,23,6,9,58,...,3,1,36,10,19,8,3,8,22,33
3,4,71,35,34,Newcastle,38,19,14,5,68,...,6,2,36,14,19,8,8,3,32,19
4,5,67,28,40,Liverpool,38,19,10,9,75,...,5,1,46,17,19,6,5,8,29,30

# Team with the most losses

In [5]:
team_most_losses = data['team.name'].loc[data['losses'].idxmax()]

# Print the team with the most losses
print("Team with the most losses:", team_most_losses)

Team with the most losses: Southampton

# Team with the most wins

In [7]:
team_most_wins = data['team.name'].loc[data['wins'].idxmax()]

# Print the team with the most wins
print("Team with the most wins:", team_most_wins)

Team with the most wins: Manchester City

# Team with the most draws

In [22]:
# Find the team with the most draws
team_most_draws = data['team.name'].loc[data['draws'].idxmax()]

# Print the team with the most draws
print("Team with the most draws:", team_most_draws)

Team with the most draws: Newcastle

# Best Goal Difference

In [9]:
team_best_goal_difference = data['team.name'].loc[data['goalsDiff'].idxmax()]

# Print the team with the best goal difference
print("Team with the best goal difference:", team_best_goal_difference)

Team with the best goal difference: Manchester City

# Worst Goal Difference

In [12]:
team_worst_goal_difference = data['team.name'].loc[data['goalsDiff'].idxmin()]

# Print the team with the worst goal difference
print("Team with the worst goal difference:", team_worst_goal_difference)

Team with the worst goal difference: Southampton

# Bottom Three Teams(Relegation)

In [17]:
sorted_data = data.sort_values(by='points')

# Get the bottom 3 teams
bottom_3_teams = sorted_data.head(3)

# Print the bottom 3 teams
print("Bottom 3 teams:")
print(bottom_3_teams[['points', 'team.name']])

Bottom 3 teams:
    points    team.name
19      25  Southampton
18      31        Leeds
17      34    Leicester

# Top 4 teams(Champions League)

In [19]:
sorted_data = data.sort_values(by='rank')

# Get the top 4 teams
bottom_3_teams = sorted_data.head(4)

# Top 4 teams
print("Top 4:")
print(bottom_3_teams[['rank', 'team.name']])

Top 4:
   rank          team.name
0     1    Manchester City
1     2            Arsenal
2     3  Manchester United
3     4          Newcastle

# Team with the best away record

In [20]:
# Find the team with the most away wins
team_best_away_record = data['team.name'].loc[data['away_wins'].idxmax()]

# Print the team with the best away record
print("Team with the best away record:", team_best_away_record)

Team with the best away record: Arsenal

# Team with the best home record

In [21]:
# Find the team with the most away wins
team_best_home_record = data['team.name'].loc[data['home_wins'].idxmax()]

# Print the team with the best away record
print("Team with the best home record:", team_best_home_record)

Team with the best home record: Manchester City